body {
    background-color: #2d2d2d;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.website-name {
    background-color: #CCC;
    color: #2d2d2d;
    padding: 3px;
    
}

.navbar {
    border-bottom: 1px solid white ;
    font-size: larger;
    padding: 2px;
}

.link {
    color: #ccc;
    text-decoration: none;
    margin: 5px 5px;
}

.link:hover {
    color: tomato;

}

.topic li {
    list-style-position: inside;
    
}


main input {
    padding: 5px;

    border: 2px solid rgb(195, 225, 195);
    border-radius: 5px;
    width: 25%;
    height: 25px;
    margin: 10px 3px;
    background-color: #2d2d2d;
    text-align: center;
}

main input:hover{
    width: 200px;
    border: 2px solid  rgb(243, 247, 33);
}

main button {
    background-color:  #2d2d2d;
    padding: 5px 5px;
    width: 75px;
    color: #ccc;
    border: 2px solid #ccc;
    border-radius: 4px;
}
